*
        {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
        body
        {
            background:url(rrr.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            font-family: Arial, Helvetica, sans-serif;
        }
        #container
        {
            width: 370px;
            height: 520px;
            background-color: rgba(58, 72, 107, 0.705);
            margin-left: auto;
            margin-right: auto;
            margin-top: 90px;
            box-shadow: 0px 5px 30px black;
        }
        .input
        {
              
            background-color: #DCDADD;
            border: none;
            width: 280px;
            padding: 10px;
            margin-bottom: 15px;
            margin-top: 10px;
            background-color: transparent;
            border-bottom: 2px solid white; 
            color: white;           
        } 
        .input:focus
        {
            outline: none;
            border-bottom: 2px solid #4285F4;
            font-size: 17px;
        }

        #second
        {
            padding-left: 30px;
            margin-top: -25px;
        }

        #signupbtn
        {
            background-color: transparent;
            color: white;
            border: none;
            font-size: 18px;
            font-weight: 550px;
            border-bottom: 2px solid #4285F4;
            margin: 50px 0px 5px 30px;
            cursor: pointer;
        }

        /* a
        {
            text-decoration: none;
            margin-left: 145px;
            margin-top: 50px;
        } */

        a:hover
        {
            text-decoration: underline;
        }

        ::placeholder
        {
            color: white;
        }
        .third
        {
            margin: 20px;
        }
        #sub
        {
            width: 120px;
            height: 40px;
            margin-top: 20px;
            margin-left: 35%;
            background-color: #4285F4;
            border-radius: 40px;
            border: none;
            font-size: 100%;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }

        #signup:hover
        {
            background-color: #2e5eac;
            transition: ease-in-out;
        }
        #done
        {
            cursor: pointer;
        }
        #secondform
        {
            display: flex;
            justify-content: space-between;
        }
        option
        {
            color: #000000;
        }

        .dep
        {
            cursor: pointer;
        }