
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
  
  .home {
    background-image: url(rrr.jpg);
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
  }
  
  .layer {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  
  .container
  {
    display: flex;
    justify-content: center;
  }
  
  h1
  {
    font-size: 200px;
    color: whitesmoke;
  }
  
  h2
  {
    font-size: 50px;
    color: whitesmoke;
  }
  
  .content
  {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    height: 50vh;
    text-align: center;
    width: 600px;
  }
  
  .fade-up
  {
    opacity: 0;
    transform: translateY(10%);
    transition: translateY(10%);
    transition: opacity 1s ease-in, transform 700ms ease-in , transition 700ms ease-in;
  }
  .fade-up.appear
  {
    opacity: 1;
    transform: translateY(0);
    transition: translateY(0);
  }
  
  