*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
  background-image: url(rrr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  }
  
  .search-box {
    position: absolute;
    top : 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding-bottom: 10px;
    
  }
  
  .search-box:hover > .search-text{
    width: 240px;
    padding: 0 6px;
  }
  
  .search-box:hover > .search-btn{
    background: #5291de;
    color: black;
    
  }
  
  .search-btn {
    color: black;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #5291de;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
    
  }
  .search-btn > i {
    font-size: 30px;
  }
  
  .search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    font-weight: normal;
    transition: 0.4s;
    line-height: 40px;
    width: 0px; 
  }

  ::placeholder{
    padding-bottom: 10px;
  }

  /*i {
    padding-top: 10px;
    padding-right: 5px;
  }*/